spring:
  application:
    name: silre-backend
  
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/silre_backend
    username: postgres
    password: 041203
  
  jpa:
    hibernate:
      ddl-auto: validate # Không tạo schema, chỉ validate (vì dùng Flyway)
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        default_schema: public # Chỉ định schema mặc định
        format_sql: true
  
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    validate-on-migrate: true